*{
  margin: 0;
}
#head{
  display: flex;
  align-self: center;
  background-color: black;
  height: 10vw;
}
#head h1{
  text-align: center;
  width: 100%;
  color: white;
  align-self: center;
}
#head label span{
  color: white;
  font-size: 5vw;
}
#head label{
  align-self: center;
  margin-left: 1vw;
}

h3{
  width: 100%;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
#comentario{
  padding: 1vw;
}
label{
  cursor:pointer;
}

nav{
  display: flex;
  flex-flow: column;
  list-style: none;
  background-color: black;
  width: 50vw;
  transform: translate(-50vw);
  position: absolute;
  }
  li{
  padding: 10%;
  text-align: center;
  }
  nav a{
  text-decoration: none;
  color: white;
  font-size: 4vw;
  
  }


  section h1{
    text-align: center;
    width: 100%;
    margin-bottom: 3%;
  }
  

  section{
    padding: 3%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    margin: 5%;
  }

  img{
    width: 100%;
    margin-bottom: 3%;
    border: 1px solid black;
  }
  

  body{
    background-color: #800040;
  }

  button{
    width: 100%;
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  #receta{
    margin-top: 3%;
  }

  footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3vw;
  }
  #footer1{
    margin-bottom: 3vw;
  }
  #footer1 i{
    margin: 2vw;
    color: #800040;
  }
  #footer1 i:hover{
    cursor: pointer;
  }
  #footer2 p{
    margin: 2vw;
    width: 50%;
    margin-left: 25%;
  }
  #footer2 h3{
    margin-bottom: 1vw;
  }
  #footer2 p:hover{
    cursor: pointer;
  } 

  #usuario{
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
  }
  #comentar{
    border: 3px solid #800040;
    width: 50%;
    text-align: center;
    margin-bottom: 1vw;
    margin-left: 25%;
  }
  textarea{
    display: none;
  }
  #continuar{
    border: 3px solid #800040;
    display: none;
  }
  @media all and (min-width: 700px) {
    nav{
      transform: translate(-50vw);
      width: 40vw;
      border-radius: 1vw;
    }
    nav a{
      font-size: 3vw;
    }
    #head{
      height: 8vw;
    }
    #head label span{
      font-size: 4vw;
    }
    section{
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    img{
      width: 100%;
      border-radius: 1vw;
    }
    #foto{
      width: 45%;
    }
    #descripcion{
      align-self: center;
      width: 50%;
      margin-left: 3%;
    }
    h2{
      margin-bottom: 2vw;
    }
  }
  @media all and (min-width: 1000px) {
    #head{
      height: 5vw;
    }
    nav{
      background-color: inherit;
      transform: translate(0px);
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      border-radius: 0%;
    }
    nav a{
      font-size: 1.5vw;
    }
    nav li{
      padding: 1vw;
    }
    label{
      display: none;
    }
    #foto{
      width: 45%;
    }
    #descripcion{
      height: 5vw;
    }
    footer{
      margin-top: 5vw;
      flex-direction: row;
    }
    #footer1 h1{
      margin-bottom: 1vw;
    }
    #footer1{
      width: 50%;
    }
    #footer2{
      width: 50%;
    }
  }
